.carousel-item {
  height: 20rem;

  .container {
    display: flex;
    flex-grow: 2;
    text-align: left;

    img {
      margin: 40px 40px 0px 200px;
      max-height: 250px;
      background-color: white;
      width: 200px; 
    }

    .infos {
      margin: 40px 40px 200px 0px;
      display: inline-block;
      color: white;
    }
  }
}